<nav class="navbar navbar-expand-sm navbar-dark bg-dark main-header fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['']"
      routerLinkActive="router-link-active"
      >FOP</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav float-right ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/finances']"
            routerLinkActive="active"
            >Finances <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/planifications']"
            routerLinkActive="active"
            >Planifications</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/objectifs']"
            routerLinkActive="active"
            >Objectifs</a
          >
        </li>
        <li class="nav-item" *ngIf="!isUserAuthenticated; else deconnexion">
          <a
            class="nav-link"
            [routerLink]="['/authentication']"
            routerLinkActive="active"
            >Se Connecter</a
          >
        </li>
        <ng-template #deconnexion>
          <li class="nav-item" (click)="logout()">
            <a class="nav-link">Se Deconecter</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
